<!DOCTYPE html>
<html>
  <head>
    <title>Pegasus</title>
    <%= csrf_meta_tags %>
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fuelux">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <div class="container">
      <div class="row">

        <h1>
          <%= image_tag "logo.png" %>
          Pegasus
            <%= image_tag "logo.png", style: "transform: scaleX(-1);" %>
        </h1>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
